<!DOCTYPE html>
<html lang="en">
  <head>
    <% var env, path = '', script = 'js/app.min.js';%>
    <% if (env === 'dev') { path = 'dist/'; script = 'dist/js/app.js'; } %>
    <meta charset="utf-8">
    <title>Node + EJS + SCSS boilerplate</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%- path %>css/main.min.css">
  </head>
  <body>
    <form class="kn-form">
      <div class="kn-form-field">
        <label for="">Project Type?</label>
        <div class="kn-form-selectWrap">
          <select
            class="kn-form-select"
            id="project-type">
          </select>
        </div>
      </div>
      <div class="kn-form-field">
        <label for="">Deliverable?</label>
        <div class="kn-form-selectWrap">
          <select
            class="kn-form-select"
            id="deliverables">
          </select>
        </div>
      </div>
      <div class="kn-form-field">
        <label for="">Business Unit or Department?</label>
        <div class="kn-form-selectWrap">
          <select
            class="kn-form-select"
            id="business-unit">
          </select>
        </div>
      </div>
      <div class="kn-form-field">
        <label for="">Industry Vertical? (not always needed)</label>
        <div class="kn-form-selectWrap">
          <select
            class="kn-form-select"
            id="industry-vertical">
          </select>
        </div>
      </div>
      <div class="kn-form-field">
        <label for="">Asset Title?</label>
        <div class="kn-form-selectWrap">
          <input class="km-form-input" type="text" id="asset-title" />
        </div>
      </div>
      <div class="kn-form-field">
        <label for="">Kapost Number?</label>
        <div class="kn-form-selectWrap">
          <input class="km-form-input" type="text" id="kapost-number" />
        </div>
      </div>
      <div class="kn-form-field">
        <button class="kn-create-btn">Create Name</button>
        <button class="kn-reset-btn" type="reset">Reset</button>
      </div>
    </form>
    <!-- created output -->
    <span id="final-name-output"></span>
    <script src="<%- path %>js/modules/jquery.min.js"></script>
    <script src="<%- script %>" charset="utf-8"></script>
  </body>
</html>
